<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RexUrl</title>
</head>
<body>
  <h1>RexUrl</h1>
  <h2>A shorten URL application</h2>
  <div>
	  <input type="text"  placeholder="Input URL" id="url">
	  <button type="submit" id="btn_submit">Enter</button>
  </div>
  <div>
	<h2 id="result"></h2>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="./script.js"></script>
</body>
</html>